.Container {
  width: 98vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.StyleForm {
  margin-top: 16px;
  top: 0;
  position: fixed;
  z-index: 1;
}